

.nav-link{
    color: black;
}
.imgweb{
  width: 300px;
  height: 300px; 
  border-radius: 20px;
  display: flex;
  margin-top: 100px;
}

.custom-navbar {
background-color: #b7b9d5;
color: white;
font-family: Georgia, 'Times New Roman', Times, serif;
}

@keyframes slideInLeft {
  0%   { left: 0px; }
  50%  { left: 200px; }
  100% { left: 200px; } 
}

.card-animate {
  position: relative;
  animation: slideInLeft 1.5s ease infinite;
  margin-bottom: 30px;
}

.card-animate.delay-1 { animation-delay: 0.4s; }
.card-animate.delay-2 { animation-delay: 0.3s; }
.card-animate.delay-3 { animation-delay: 0.1s; }



.fixed-img {
  height: 200px;
  object-fit: cover;
}


.card:hover .fixed-img {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}


.card:hover {
  box-shadow: 0 8px 16px rgba(156, 156, 224, 0.2);
  transition: box-shadow 0.3s ease-in-out;
}

.color{
  background-color: #7477a3;
  color: #ffffff;
  
}

.color:hover{
  background-color: #3f3564;
  font-size: 18px;
  color: #ffffff;
}

.section-heading {
  margin-top: 100px; 
}

.footer-container {
  background-color: #3f3564;
  color: white;
  padding: 20px;
  text-align: center; 
  margin-top: 20px;
  display: block;
}

.btn-submit{
  background-color: #7477a3;
  color: #f6f6f6;
  font-size: 14px; 
  border-radius: 10px;
  padding: 4px 14px;
  border: none;
  box-sizing: border-box  ;
}



.contact-info {
  list-style: none;
  padding: 0;
  margin-top: 20px;
  
}

.contact-info li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.contact-info li img {
  width: 20px;
  margin-right: 8px;
}


.card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-img-top {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

/* .card-body {
  flex-grow: 1;
}

.card-footer {
  background-color: white;
  border-top: none;
} */
