

/* header&footer */
.colornav{
    background-color: #ebdde7b3;

  }


  .icon-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    text-decoration: none;
    font-size: 14px;
    color: #000;
  }

  .navbar-custom {
    padding-left: 40px; 
    padding-right: 20px;
  }

  .navbar-nav .nav-item {
    margin-right: 25px;
  }

  .dropdown-toggle::after {
    display: none;
  }

  .nav-link i {
    font-size: 20px;
  }

  footer i {
  color: #000000 !important;
}

footer a {
  text-decoration: none !important; 
  color: #000000 !important;        
}

.cb{
  background-color: #ebdde7b3;
}


/* header&footer */

@keyframes slideInLeft {
  0%   { left: 0px; }
  50%  { left: 200px; }
  100% { left: 200px; } 
}


.fixed-img {
  height: 200px;
  object-fit: cover;
}


.card:hover .fixed-img {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}


.card:hover {
  box-shadow: 0 8px 16px rgba(156, 156, 224, 0.2);
  transition: box-shadow 0.3s ease-in-out;
}

.color{
  background-color: #000000;
  color: #ead8e6
  
}

.color:hover{
  background-color: #730362;
  font-size: 18px;
  color: #ffffff;
}

.section-heading {
  margin-top: 100px; 
}

.footer-container {
  background-color: #493243;
  color: white;
  padding: 20px;
  text-align: center; 
  margin-top: 20px;
  display: block;
}

.btn-submit{
  background-color: #000000;
  color: #ead8e6;
  font-size: 14px; 
  border-radius: 10px;
  padding: 4px 14px;
  border: none;
  box-sizing: border-box  ;
}

.size{
  width: 50%;
  margin-right: 40%;
}
.margin-left{
   margin-right: 80%;
   white-space: nowrap;  
   margin-bottom: 20px;
}

.contact-info {
  list-style: none;
  padding: 0;
  margin-top: 20px;
  
}

.contact-info li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.contact-info li img {
  width: 20px;
  margin-right: 8px;
}


.card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-img-top {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

